@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/open-sans/OpenSans-Light.ttf') format('tff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/open-sans/OpenSans-LightItalic.ttf') format('ttf');
    font-weight: 300;
    font-style: italic;
}


@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/open-sans/OpenSans-Regular.ttf') format('tff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/open-sans/OpenSans-Italic.ttf') format('ttf');
    font-weight: 400;
    font-style: italic;
}


@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/open-sans/OpenSans-SemiBold.ttf') format('tff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/open-sans/OpenSans-SemiBoldItalic.ttf') format('ttf');
    font-weight: 600;
    font-style: italic;
}


@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/open-sans/OpenSans-Bold.ttf') format('tff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/open-sans/OpenSans-Bold.ttf') format('ttf');
    font-weight: 700;
    font-style: italic;
}


@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/open-sans/OpenSans-ExtraBold.ttf') format('tff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/open-sans/OpenSans-ExtraBold.ttf') format('ttf');
    font-weight: 800;
    font-style: italic;
}