@mixin responsive-XS {
    @media screen and (max-width: map-get($breakpoints-max, XS)){
        @content;
    }
}

@mixin responsive-SM {
    @media screen and (min-width: map-get($breakpoints-min, SM)) and (max-width: map-get($breakpoints-max, SM)){
        @content;
    }
}

@mixin responsive-MD {
    @media screen and (min-width: map-get($breakpoints-min, MD)) and (max-width: map-get($breakpoints-max, MD)){
        @content;
    }
}

@mixin responsive-LG {
    @media screen and (min-width: map-get($breakpoints-min, LG)) and (max-width: map-get($breakpoints-max, LG)){
        @content;
    }
}

@mixin responsive-XL {
    @media screen and (min-width: map-get($breakpoints-min, XL)){
        @content;
    }
}



body {
    background-color: $grey-1;
    margin: 0;
    padding: 0;
}

.header-nav {
    background-color: $white;
    box-sizing: border-box;
    width: 100vw;
    @include responsive-XS{
        padding-top: 20px;
        padding-bottom: 20px;
    }
    @include responsive-SM{
        padding-top: 20px;
        padding-bottom: 20px;
    }
    @include responsive-MD{
        padding-top: 25px;
        padding-bottom: 25px;
    }
    @include responsive-LG{
        padding-top: 30px;
        padding-bottom: 30px;
    }
    @include responsive-XL{
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

.header-logo {
    @include responsive-XS{
        margin-bottom: 15px;
    }
    @include responsive-SM{
        margin-bottom: 15px;
    }
    @include responsive-MD{
        margin-bottom: 17px;
    }
    @include responsive-LG{
        margin-bottom: 20px;
    }
    @include responsive-XL{
        margin-bottom: 20px;
    }
}

.header-logo img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: auto;
    @include responsive-XS{
        height: 40px;
    }
    @include responsive-SM{
        height: 40px;
    }
    @include responsive-MD{
        height: 42px;
    }
    @include responsive-LG{
        height: 45px;
    }
    @include responsive-XL{
        height: 45px;
    }
}

.header-tabs {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: none;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
}

.header-tabs::-webkit-scrollbar {
    display: none;
}

.yellow {
    background-color: yellow;
}

.tabs-container {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
}

.tabs-container li {
    margin: 0;
    @include responsive-XS{
        margin-right: 10px;
    }
    @include responsive-SM{
        margin-right: 10px;
    }
    @include responsive-MD{
        margin-right: 12px;
    }
    @include responsive-LG{
        margin-right: 15px;
    }
    @include responsive-XL{
        margin-right: 15px;
    }
}

.tabs-container li:last-child {
    margin-right: 0;
}

.tab-category {
    display: block;
    background-color: $grey-1;
    font-family: $font-family;
    font-weight: 600;
    color: $grey-9;
    text-decoration: none;
    border-radius: 50px;
    white-space: nowrap;
    @include responsive-XS{
        font-size: 0.875rem;
        padding: 7px 15px;
    }
    @include responsive-SM{
        font-size: 0.875rem;
        padding: 7px 15px;
    }
    @include responsive-MD{
        font-size: 0.9375rem;
        padding: 7px 15px;
    }
    @include responsive-LG{
        font-size: 1rem;
        padding: 7px 15px;
    }
    @include responsive-XL{
        font-size: 1rem;
        padding: 7px 15px;
    }
}

.tab-category:hover {
    background-color: $grey-1b;
    color: $primary;
    text-decoration: none;
}

.tab-category.active {
    background-color: $primary;
    color: $white;
    text-decoration: none;
}

.header-section {
    width: 100vw;
    background-color: $primary;
    padding: 20px 0;
}

.header-title-main h1 {
    font-family: $font-family;
    font-weight: 800;
    color: $white;
    text-align: center;
    margin: 0;
    @include responsive-XS{
        font-size: 1.375rem;
    }
    @include responsive-SM{
        font-size: 1.375rem;
    }
    @include responsive-MD{
        font-size: 1.5625rem;
    }
    @include responsive-LG{
        font-size: 1.75rem;
    }
    @include responsive-XL{
        font-size: 1.75rem;
    }
}

.header-title-sub {
    font-family: $font-family;
    font-weight: 600;
    color: $white;
    font-size: 1.8rem;
    text-align: center;
    margin: 0;
    @include responsive-XS{
        font-size: 1.1875rem;
    }
    @include responsive-SM{
        font-size: 1.1875rem;
    }
    @include responsive-MD{
        font-size: 1.375rem;
    }
    @include responsive-LG{
        font-size: 1.5625rem;
    }
    @include responsive-XL{
        font-size: 1.5625rem;
    }
}


.content {
    margin: 0 auto;
    box-sizing: border-box;
}

.content-12 {
    @include responsive-XS{
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }
    @include responsive-SM{
        width: 540px;
        padding: 0;
    }
    @include responsive-MD{
        width: 720px;
        padding: 0;
    }
    @include responsive-LG{
        width: 960px;
        padding: 0;
    }
    @include responsive-XL{
        width: 1140px;
        padding: 0;
    }
}

.content-9 {
    @include responsive-XS{
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }
    @include responsive-SM{
        width: 405px;
        padding: 0;
    }
    @include responsive-MD{
        width: 540px;
        padding: 0;
    }
    @include responsive-LG{
        width: 720px;
        padding: 0;
    }
    @include responsive-XL{
        width: 855px;
        padding: 0;
    }
}

.content-8 {
    @include responsive-XS{
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }
    @include responsive-SM{
        width: 360px;
        padding: 0;
    }
    @include responsive-MD{
        width: 480px;
        padding: 0;
    }
    @include responsive-LG{
        width: 640px;
        padding: 0;
    }
    @include responsive-XL{
        width: 760px;
        padding: 0;
    }
}



.grid-categories {
    display: grid;
    @include responsive-XS{
        margin-top: 50px;
        margin-bottom: 50px;
        grid-template-columns: 1fr;
        column-gap: 25px;
        row-gap: 37.5px;
    }
    @include responsive-SM{
        margin-top: 50px;
        margin-bottom: 50px;
        grid-template-columns: 1fr 1fr;
        column-gap: 25px;
        row-gap: 37.5px;
    }
    @include responsive-MD{
        margin-top: 60px;
        margin-bottom: 60px;
        grid-template-columns: 1fr 1fr;
        column-gap: 30px;
        row-gap: 45px;
    }
    @include responsive-LG{
        margin-top: 60px;
        margin-bottom: 60px;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 30px;
        row-gap: 45px;
    }
    @include responsive-XL{
        margin-top: 60px;
        margin-bottom: 60px;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 30px;
        row-gap: 45px;
    }
}

.grid-tools {
    display: grid;
    @include responsive-XS{
        margin-top: 40px;
        margin-bottom: 40px;
        grid-template-columns: 1fr;
        column-gap: 20px;
        row-gap: 30px;
    }
    @include responsive-SM{
        margin-top: 40px;
        margin-bottom: 40px;
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
        row-gap: 30px;
    }
    @include responsive-MD{
        margin-top: 40px;
        margin-bottom: 40px;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 25px;
        row-gap: 30px;
    }
    @include responsive-LG{
        margin-top: 50px;
        margin-bottom: 50px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 25px;
        row-gap: 37.5px;
    }
    @include responsive-XL{
        margin-top: 50px;
        margin-bottom: 50px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 25px;
        row-gap: 37.5px;
    }
}

.card {
    background-color: $white;
    width: 100%;
}

.card-img-category {
    width: 100%;
    @include responsive-XS{
        height: 100vw;
    }
    @include responsive-SM{
        height: 258px;
    }
    @include responsive-MD{
        height: 345px;
    }
    @include responsive-LG{
        height: 300px;
    }
    @include responsive-XL{
        height: 360px;
    }
}

.card-img-tool {
    width: 100%;
    @include responsive-XS{
        height: 100vw;
    }
    @include responsive-SM{
        height: 260px;
    }
    @include responsive-MD{
        height: 227px;
    }
    @include responsive-LG{
        height: 222px;
    }
    @include responsive-XL{
        height: 267px;
    }
}

.card-img img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-title {
    border-top: solid 1px $grey-2;
    text-align: center;
}

.card-title-category {
    @include responsive-XS{
        padding: 10px;
    }
    @include responsive-SM{
        padding: 10px;
        max-width: 238px;
    }
    @include responsive-MD{
        padding: 12px;
        max-width: 321px;
    }
    @include responsive-LG{
        padding: 15px;
        max-width: 270px;
    }
    @include responsive-XL{
        padding: 15px;
        max-width: 330px;
    }
}

.card-title-tool {
    @include responsive-XS{
        padding: 10px;
    }
    @include responsive-SM{
        padding: 10px;
        max-width: 240px;
    }
    @include responsive-MD{
        padding: 12px;
        max-width: 203px;
    }
    @include responsive-LG{
        padding: 15px;
        max-width: 192px;
    }
    @include responsive-XL{
        padding: 15px;
        max-width: 237px;
    }
}

.title-category {
    font-family: $font-family;
    font-weight: 700;
    color: $grey-9;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.title-tool-model {
    font-family: $font-family;
    font-weight: 700;
    color: $grey-9;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.title-tool-type {
    font-family: $font-family;
    font-weight: 600;
    color: $grey-6b;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    @include responsive-XS{
        font-size: 0.8125rem;
    }
    @include responsive-SM{
        font-size: 0.8125rem;
    }
    @include responsive-MD{
        font-size: 0.875rem;
    }
    @include responsive-LG{
        font-size: 0.9375rem;
    }
    @include responsive-XL{
        font-size: 0.9375rem;
    }
}

.title-category h2 {
    margin: 0;
    @include responsive-XS{
        font-size: 0.875rem;
    }
    @include responsive-SM{
        font-size: 0.875rem;
    }
    @include responsive-MD{
        font-size: 1rem;
    }
    @include responsive-LG{
        font-size: 1.125rem;
    }
    @include responsive-XL{
        font-size: 1.125rem;
    }
}

.title-tool-model h2 {
    margin: 0;
    @include responsive-XS{
        font-size: 0.875rem;
    }
    @include responsive-SM{
        font-size: 0.875rem;
    }
    @include responsive-MD{
        font-size: 0.9375rem;
    }
    @include responsive-LG{
        font-size: 1rem;
    }
    @include responsive-XL{
        font-size: 1rem;
    }
}

a.card-link {
    text-decoration: none;
    cursor: pointer;
}

a.card-link img {
    opacity: 1;
    transition: all 0.2s linear;
}

a.card-link img:hover {
    opacity: 0.7;
    translate: all 0.2s linear;
}