@mixin responsive-XS {
    @media screen and (max-width: map-get($breakpoints-max, XS)){
        @content;
    }
}

@mixin responsive-SM {
    @media screen and (min-width: map-get($breakpoints-min, SM)) and (max-width: map-get($breakpoints-max, SM)){
        @content;
    }
}

@mixin responsive-MD {
    @media screen and (min-width: map-get($breakpoints-min, MD)) and (max-width: map-get($breakpoints-max, MD)){
        @content;
    }
}

@mixin responsive-LG {
    @media screen and (min-width: map-get($breakpoints-min, LG)) and (max-width: map-get($breakpoints-max, LG)){
        @content;
    }
}

@mixin responsive-XL {
    @media screen and (min-width: map-get($breakpoints-min, XL)){
        @content;
    }
}


/*--- HEADINGS ---*/

.header-nav {
    background-color: $white;
    box-sizing: border-box;
    width: 100vw;
    @include responsive-XS{
        padding-top: 20px;
        padding-bottom: 20px;
    }
    @include responsive-SM{
        padding-top: 20px;
        padding-bottom: 20px;
    }
    @include responsive-MD{
        padding-top: 25px;
        padding-bottom: 25px;
    }
    @include responsive-LG{
        padding-top: 30px;
        padding-bottom: 30px;
    }
    @include responsive-XL{
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

.header-logo {
    @include responsive-XS{
        margin-bottom: 15px;
    }
    @include responsive-SM{
        margin-bottom: 15px;
    }
    @include responsive-MD{
        margin-bottom: 17px;
    }
    @include responsive-LG{
        margin-bottom: 20px;
    }
    @include responsive-XL{
        margin-bottom: 20px;
    }
}

.header-logo img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: auto;
    @include responsive-XS{
        height: 40px;
    }
    @include responsive-SM{
        height: 40px;
    }
    @include responsive-MD{
        height: 42px;
    }
    @include responsive-LG{
        height: 45px;
    }
    @include responsive-XL{
        height: 45px;
    }
}

.header-tabs {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: none;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
}

.header-tabs::-webkit-scrollbar {
    display: none;
}

.yellow {
    background-color: yellow;
}

.tabs-container {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
}

.tabs-container li {
    margin: 0;
    @include responsive-XS{
        margin-right: 10px;
    }
    @include responsive-SM{
        margin-right: 10px;
    }
    @include responsive-MD{
        margin-right: 12px;
    }
    @include responsive-LG{
        margin-right: 15px;
    }
    @include responsive-XL{
        margin-right: 15px;
    }
}

.tabs-container li:last-child {
    margin-right: 0;
}

.tab-category {
    display: block;
    background-color: $grey-1;
    font-family: $font-family;
    font-weight: 600;
    color: $grey-9;
    text-decoration: none;
    border-radius: 50px;
    white-space: nowrap;
    @include responsive-XS{
        font-size: 0.875rem;
        padding: 7px 15px;
    }
    @include responsive-SM{
        font-size: 0.875rem;
        padding: 7px 15px;
    }
    @include responsive-MD{
        font-size: 0.9375rem;
        padding: 7px 15px;
    }
    @include responsive-LG{
        font-size: 1rem;
        padding: 7px 15px;
    }
    @include responsive-XL{
        font-size: 1rem;
        padding: 7px 15px;
    }
}

.tab-category:hover, .tab-category:focus {
    background-color: $grey-1b;
    color: $primary;
    text-decoration: none;
}

.tab-category.active {
    background-color: $primary;
    color: $white;
    text-decoration: none;
}

.header-section {
    width: 100vw;
    background-color: $primary;
    padding: 20px 0;
}

.header-title-main h1 {
    font-family: $font-family;
    font-weight: 800;
    color: $white;
    text-align: center;
    margin: 0;
    @include responsive-XS{
        font-size: 1.375rem;
    }
    @include responsive-SM{
        font-size: 1.375rem;
    }
    @include responsive-MD{
        font-size: 1.5625rem;
    }
    @include responsive-LG{
        font-size: 1.75rem;
    }
    @include responsive-XL{
        font-size: 1.75rem;
    }
}

.header-title-sub {
    font-family: $font-family;
    font-weight: 600;
    color: $white;
    font-size: 1.8rem;
    text-align: center;
    margin: 0;
    @include responsive-XS{
        font-size: 1.1875rem;
    }
    @include responsive-SM{
        font-size: 1.1875rem;
    }
    @include responsive-MD{
        font-size: 1.375rem;
    }
    @include responsive-LG{
        font-size: 1.5625rem;
    }
    @include responsive-XL{
        font-size: 1.5625rem;
    }
}


/*--- CONTENT ---*/

.container {
    @include responsive-XS{
        margin-top: 50px;
        margin-bottom: 50px;
    }
    @include responsive-SM{
        margin-top: 50px;
        margin-bottom: 50px;
    }
    @include responsive-MD{
        margin-top: 60px;
        margin-bottom: 60px;
    }
    @include responsive-LG{
        margin-top: 60px;
        margin-bottom: 60px;
    }
    @include responsive-XL{
        margin-top: 60px;
        margin-bottom: 60px;
    }
}


/*--- INDEX ---*/

.index {
    display: grid;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
    @include responsive-XS{
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }
    @include responsive-SM{
        width: 540px;
        padding: 0;
    }
    @include responsive-MD{
        width: 720px;
        padding: 0;
    }
    @include responsive-LG{
        width: 960px;
        padding: 0;
    }
    @include responsive-XL{
        width: 1140px;
        padding: 0;
    }
}

.index-categories {
    @include responsive-XS{
        grid-template-columns: 1fr;
        column-gap: 25px;
        row-gap: 37.5px;
    }
    @include responsive-SM{
        grid-template-columns: 1fr 1fr;
        column-gap: 25px;
        row-gap: 37.5px;
    }
    @include responsive-MD{
        grid-template-columns: 1fr 1fr;
        column-gap: 30px;
        row-gap: 45px;
    }
    @include responsive-LG{
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 30px;
        row-gap: 45px;
    }
    @include responsive-XL{
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 30px;
        row-gap: 45px;
    }
}

.index-tools {
    @include responsive-XS{
        grid-template-columns: 1fr;
        column-gap: 20px;
        row-gap: 30px;
    }
    @include responsive-SM{
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
        row-gap: 30px;
    }
    @include responsive-MD{
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 25px;
        row-gap: 30px;
    }
    @include responsive-LG{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 25px;
        row-gap: 37.5px;
    }
    @include responsive-XL{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 25px;
        row-gap: 37.5px;
    }
}

.card {
    background-color: $white;
    width: 100%;
}

.card-img-category {
    width: 100%;
    @include responsive-XS{
        height: 80vw;
    }
    @include responsive-SM{
        height: 258px;
    }
    @include responsive-MD{
        height: 345px;
    }
    @include responsive-LG{
        height: 300px;
    }
    @include responsive-XL{
        height: 360px;
    }
}

.card-img-tool {
    width: 100%;
    @include responsive-XS{
        height: 80vw;
    }
    @include responsive-SM{
        height: 260px;
    }
    @include responsive-MD{
        height: 227px;
    }
    @include responsive-LG{
        height: 222px;
    }
    @include responsive-XL{
        height: 267px;
    }
}

.card-img img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-title {
    border-top: solid 1px $grey-2;
    text-align: center;
}

.card-title-category {
    @include responsive-XS{
        padding: 10px;
    }
    @include responsive-SM{
        padding: 10px;
        max-width: 238px;
    }
    @include responsive-MD{
        padding: 12px;
        max-width: 321px;
    }
    @include responsive-LG{
        padding: 15px;
        max-width: 270px;
    }
    @include responsive-XL{
        padding: 15px;
        max-width: 330px;
    }
}

.card-title-tool {
    @include responsive-XS{
        padding: 10px;
    }
    @include responsive-SM{
        padding: 10px;
        max-width: 240px;
    }
    @include responsive-MD{
        padding: 12px;
        max-width: 203px;
    }
    @include responsive-LG{
        padding: 15px;
        max-width: 192px;
    }
    @include responsive-XL{
        padding: 15px;
        max-width: 237px;
    }
}

h2.title-category  {
    font-family: $font-family;
    font-weight: 700;
    color: $primary;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    @include responsive-XS{
        font-size: 1rem;
    }
    @include responsive-SM{
        font-size: 1rem;
    }
    @include responsive-MD{
        font-size: 1rem;
    }
    @include responsive-LG{
        font-size: 1.125rem;
    }
    @include responsive-XL{
        font-size: 1.125rem;
    }
}

h2.title-tool-model {
    font-family: $font-family;
    font-weight: 700;
    color: $primary;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    @include responsive-XS{
        font-size: 0.9375rem;
    }
    @include responsive-SM{
        font-size: 0.9375rem;
    }
    @include responsive-MD{
        font-size: 0.9375rem;
    }
    @include responsive-LG{
        font-size: 1rem;
    }
    @include responsive-XL{
        font-size: 1rem;
    }
}

span.title-tool-type {
    font-family: $font-family;
    font-weight: 600;
    color: $grey-6b;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    @include responsive-XS{
        font-size: 0.875rem;
    }
    @include responsive-SM{
        font-size: 0.875rem;
    }
    @include responsive-MD{
        font-size: 0.875rem;
    }
    @include responsive-LG{
        font-size: 0.9375rem;
    }
    @include responsive-XL{
        font-size: 0.9375rem;
    }
}

a.card-link {
    text-decoration: none;
    cursor: pointer;
}

a.card-link img {
    opacity: 1;
    transition: all 0.2s linear;
}

a.card-link img:hover {
    opacity: 0.7;
    translate: all 0.2s linear;
}


/*--- SHEET ---*/

.sheet {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
    @include responsive-XS{
        padding-right: 20px;
        padding-left: 20px;
    }
    @include responsive-SM{
        padding: 0;
    }
    @include responsive-MD{
        padding: 0;
    }
    @include responsive-LG{
        padding: 0;
    }
    @include responsive-XL{
        padding: 0;
    }
}

.sheet-core {
    @include responsive-XS{
        width: 100%;
    }
    @include responsive-SM{
        width: 540px;
    }
    @include responsive-MD{
        width: 600px;
    }
    @include responsive-LG{
        width: 640px;
    }
    @include responsive-XL{
        width: 760px;
    }
}

.sheet-aside {
    @include responsive-XS{
        display: none;
    }
    @include responsive-SM{
        display: none;
    }
    @include responsive-MD{
        display: none;
    }
    @include responsive-LG{
        display: block;
        width: 300px;
        margin-right: 20px;
    }
    @include responsive-XL{
        display: block;
        width: 360px;
        margin-right: 20px;
    }
}

.sheet-box {
    background-color: $white;
    width: 100%;
    box-sizing: border-box;
    @include responsive-XS{
        padding: 25px;
    }
    @include responsive-SM{
        padding: 25px;
    }
    @include responsive-MD{
        padding: 25px;
    }
    @include responsive-LG{
        padding: 30px;
    }
    @include responsive-XL{
        padding: 30px;
    }
}

.sheet-box h2 {
    font-family: $font-family;
    color: $primary;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0.5rem;
    @include responsive-XS{
        font-size: $h2-XS;
    }
    @include responsive-SM{
        font-size: $h2-SM;
    }
    @include responsive-MD{
        font-size: $h2-MD;
    }
    @include responsive-LG{
        font-size: $h2-LG;
    }
    @include responsive-XL{
        font-size: $h2-XL;
    }
}

.sheet-part {
    @include responsive-XS{
        margin-bottom: 25px;
    }
    @include responsive-SM{
        margin-bottom: 25px;
    }
    @include responsive-MD{
        margin-bottom: 25px;
    }
    @include responsive-LG{
        margin-bottom: 30px;
    }
    @include responsive-XL{
        margin-bottom: 30px;
    }
}

.sheet-part:last-child {
    margin-bottom: 0;
}

#sheet-info-poster {
    width: 100%;
    @include responsive-XS{
        height: 56.25vw;
    }
    @include responsive-SM{
        height: 304px;
    }
    @include responsive-MD{
        height: 337px;
    }
    @include responsive-LG{
        height: 360px;
    }
    @include responsive-XL{
        height: 428px;
    }
}

#sheet-info-poster img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.specs-list {
    list-style: none;
    padding: 0;
}

.specs-list li {
    font-family: $font-family;
    font-weight: 400;
    border-bottom: solid 1px $grey-4;
    color: $grey-9;
    padding-top: 15px;
    padding-bottom: 15px;
    @include responsive-XS{
        font-size: $p-XS;
    }
    @include responsive-SM{
        font-size: $p-SM;
    }
    @include responsive-MD{
        font-size: $p-MD;
    }
    @include responsive-LG{
        font-size: $p-LG;
    }
    @include responsive-XL{
        font-size: $p-XL;
    }
}

.specs-list li:last-child {
    border: none;
}

.ressources-list {
    list-style: none;
    padding: 0;
}

.ressources-list li {
    font-family: $font-family;
    font-weight: 400;
    color: $grey-9;
    padding-top: 7px;
    padding-bottom: 7px;
    @include responsive-XS{
        font-size: $p-XS;
    }
    @include responsive-SM{
        font-size: $p-SM;
    }
    @include responsive-MD{
        font-size: $p-MD;
    }
    @include responsive-LG{
        font-size: $p-LG;
    }
    @include responsive-XL{
        font-size: $p-XL;
    }
}